.light {
  animation-name: lighting;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

.dark {
  filter:brightness(0);
}

@keyframes lighting {
  0% {
    filter: brightness(0.1);
  }
  100% {
    filter: brightness(1);
  }
}